/******
*   --- CSS STYLESHEET MENU ---
*   1. GENERAL
*   2. NAVBAR
*   3. GUIDES
* * * * * * */

/* * * * *
*  1. GENERAL
* * * * * */
body{
    background-color: #F6F6F6;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

@media only screen and (max-width: 590px) {
    iframe {
        width: 100% !important;
    }

    .page-title img {
        display: none;
    }

    .page-title {
        margin-left:10px;
    }
}
/* * * * * * *
*   2. NAVBAR
* * * * * * */
.navbar{
    font-size: 8pt;
}
.navbar-brand img{
    width: 40px;
}

.navbar li a {
    padding-top: 10px !important;
}

.navbar span.icon-bar {
    background-color: #395a7b;
}

.navbar li img {
    max-height: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main-navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 280px!important; /*example + never use min-width with this solution */
    height: 100%;
}
.navbar span.title {
    left: auto !important;
    top: auto !important;
    white-space: normal !important;
    display: block !important;
    text-align: center !important;
    width: 100%;
}
.feedback{
    position: fixed;
    bottom: 5px;
    right: 8px;
    font-size: 25px!important;
}

#scroll-up{
    position: fixed;
    bottom: 5px;
    right: 75px;
    font-size: 25px!important;
}
#message-text{
    min-height: 100px!important;
    resize: none!important;
}
.btn, .feedback{
    outline: none!important;
}

.end-btns{
    right: 5px!important;
}

/* * * * * * *
*   3. GUIDES
* * * * * * */

.main iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main .page-title {
    margin-bottom: 15px;
}
.main .page-title h1{
    color: #395a7b;
    float:left;
}

.main .page-title  img{
    float: right;
}

.guide-instructions {
    margin-top: 1em;
}
/*
    Steps
*/
@media only screen and (max-width: 590px) {
    .stepTitle{
        font-size: 20px;
    }
}

.error{
    text-align: center;
    color: #b00500!important;
    width: 100%;
    font-size: 12px;
}
.success{
    text-align: center;
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid green;
    background-color: rgba(111, 224, 62,.5);
    color: #fff!important;
}

.forms{
    max-width: 350px;
}

.stepCloseBtn{
    position: relative;
    left: 10px!important;
    top: -60px!important;
}
.stepCloseBtnBin{
    position: relative;
    left: 0px!important;
    top: 45px!important;
}
.cross-btn {
    margin-right: 1.5em;
}

.dashboard_button_Wrap{
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
}
.dashboard_button_Wrap:hover{
    background-color: rgba(216, 255, 79,.2);
}
.dash-btns{
    padding: 35px!important;
    font-size: 25px!important;
}
.dash-btns:hover{
    background-color: #337ab7!important;
}
@media only screen and (max-width: 590px){
    .col-md-6{
        margin: 2px!important;
    }
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 40px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    color: #fff!important;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    font-size: 28px;
    font-weight: bold;
}
/*Cookie Consent End*/

/*
    Login 
*/
.login-title{
    text-align: center;
}
.loginWrap{
    box-shadow: 0.1px 0.1px 0.1px 1px rgba(0, 0, 0, 0.1), -0.1px -0.1px 0.1px 1px rgba(0, 0, 0, 0.1);
    padding-left: 20px!important;
    padding-right:  20px !important;
    border-radius: 3px!important;
}
/*
* * * * * * *
*ACCORDION  *
* * * * * * *
**/

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-default > .panel-heading{
    background-color: #395a7b !important;
    border-color: #ddd;
}
.panel-title > a, .panel-heading .accordion-toggle::after{
    color: #fff!important;
}

.panel .panel-title a:hover {
    text-decoration: none;
}